@charset "utf-8";
/* CSS Document */

body {
    display: flex;
	   flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    padding: 10px;
    margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	background: #DAC3B5;
	padding: 10px;
}

h1 {
	font-size: 48px;
	margin-bottom: 30px;
	color: #060302;
	text-align: center;
}

img {
	max-width: 25%;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 40px;
	}
}
	
	@media only screen and (max-width: 400px) {
	h1 {
		font-size: 24px;
	}
		
		img {
	max-width: 50%;
}
	}